.layoutStandard {
  .searchBar {
    background-color: white;
    input {
      width: auto;
    }
  }
  .createContainer{
    transition: all .15s ease-out;
    max-height: 0;
    overflow: hidden;
    padding: 0;
  }
  .toggleCreate {
    z-index: 99;
    position: fixed;
    top: 48px;
    right: 30px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background: #141C47;
    cursor: pointer;
    background: linear-gradient(135deg,#5fe2dc 0%,#0d5de4 100%);
    &:hover {
      background: linear-gradient(135deg,#0d5de4 0%,#5fe2dc 100%);
    }
    &:before {
      display: block;
      background: transparent;
      height: 30px;
      width: 60px;
      position: absolute;
      left: 18px;
      top: 26px;
      text-align: center;
      font-size: 20px;
      color: white;
      content: "Sell Storage";
    }
    // &:before, &:after {
    //   display: block;
    //   background: #ffffff;
    //   height: 3px;
    //   width: 30px;
    //   position: absolute;
    //   left: 15px;
    //   top: 30px;
    //   content: "";
    // }
    // &:after {
    //   transform: rotate(90deg);
    // }
  }
  &.createOpen {
    .createContainer{
      max-height: fit-content;
      overflow: visible;
      .card-item {
        padding: 55px 30px;
      }
    }
    .toggleCreate {
      &:after {
        opacity: 0;
      }
    }
  }
  .logo {
    background: #141C47 url(img/logo.svg);
    background-position: 30px center;
    background-repeat: no-repeat;
    height: 80px;
    color: #ffffff;
    padding: 26px 20px 0 80px;
    font-size: 1.6rem;
  }
  .main {
    min-height: 100vh;
    grid-area: main;
    background: #EEF2F9;
  }
}
